<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>工作项列表</title>
	<!--基础CSS文件-->
	<link rel="stylesheet" href="../../static/css/common/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/basic.css">
	<link rel="stylesheet" href="../../static/css/index.css">
</head>
<body style="background: #F9FAFC">
<div class="title-header">
    <span class="header-text">任务监控</span>
</div>

<div class="top-half container">

	<div class="info-data clearfix">
		<div class="col-xs-6 col-md-4 info-block ">
			<div class="col-xs-12 col-sm-10 border-box circle-color-1">
				<div class="col-xs-5 text-right">
					<span class="glyphicon glyphicon-flag font-icon "></span>
				</div>
				<div class="col-xs-7">
					<div class="text-left">完成任务数</div>
					<div class="text-left">
						<span class="font-big work-num ">0</span>
						<span>条</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4 info-block ">
			<div class="col-xs-12 col-sm-10 border-box circle-color-2">
				<div class="col-xs-5 text-right">
					<span class="glyphicon glyphicon-check font-icon"></span>
				</div>
				<div class="col-xs-7">
					<div class="text-left">成功任务数</div>
					<div class="text-left">
						<span class="font-big work-num ">0</span>
						<span>条</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4 info-block ">
			<div class="col-xs-12 col-sm-10 border-box circle-color-3">
				<div class="col-xs-5 text-right">
					<span class="glyphicon glyphicon-exclamation-sign font-icon"></span>
				</div>
				<div class="col-xs-7">
					<div class="text-left">失败任务数</div>
					<div class="text-left">
						<span class="font-big work-num ">0</span>
						<span>条</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4 info-block ">
			<div class="col-xs-12 col-sm-10 border-box circle-color-4">
				<div class="col-xs-5 text-right">
					<span class="glyphicon glyphicon-time font-icon"></span>
				</div>
				<div class="col-xs-7">
					<div class="text-left"> 延迟任务数</div>
					<div class="text-left">
						<span class="font-big work-num ">0</span>
						<span>条</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4 info-block ">
			<div class="col-xs-12 col-sm-10 border-box circle-color-5">
				<div class="col-xs-5 text-right">
					<span class="glyphicon glyphicon-refresh font-icon"></span>
				</div>
				<div class="col-xs-7">
					<div class="text-left">手工重跑数</div>
					<div class="text-left">
						<span class="font-big work-num ">0</span>
						<span>条</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4 info-block ">
			<div class="col-xs-12 col-sm-10 border-box circle-color-6">
				<div class="col-xs-5 text-right">
					<span class="glyphicon glyphicon-saved font-icon"></span>
				</div>
				<div class="col-xs-7">
					<div class="text-left">正在运行任务数</div>
					<div class="text-left">
						<span class="font-big work-num ">0</span>
						<span>条</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="info-chart">
		<div class="chart-title">工作项管理分析</div>
		<div id="chart-demand-all" class="col-xs-11 chart-analysis"></div>
	</div>
</div>

<!--基础JS文件-->
<script src="../../static/js/common/jquery-1.12.4.js"></script>
<script src="../../static/css/common/bootstrap/js/bootstrap.js"></script>
<script src="../../static/js/common/echarts.js"></script>
<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>

<!--本页面的JS文件-->
<script src="../../static/js/list/init.js"></script>
<script src="../../static/js/list/index.js"></script>
</body>
</html>